*{
    margin: 0px;
    padding: 0px;
}


.search_container{
    width: 40%;
}

.search{
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
    border: none;
    border-radius: 16px;
    padding: 0 14px;
    font-size: 15px;
}


.buttonLogin{
    height: 100%;
    background-color: #7126B5;
    color: #eeeeee;
    border: none;
    border-radius: 10px;
    padding: 1vh;
}
.buttonLogin:hover{
    color: #7126B5;
    background-color: #eeeeee;
    border: 1px solid #7126B5;
}

@media only screen and (max-width: 768px) {
    .logo{
        display: none;
    }

    .search_container{
        width: 70%;
    }
}

@media only screen and (max-width: 425px){
    .logo{
        display: none;
    }
    .search_container{
        width: 70%;
    }

    .buttonLogin{
        padding: 0.5vh;
    }
} 