:root {
	--primary: #7126b5;
}

.login_container {
	max-height: 100vh;
  }
  
 .hero_login {
	background-color: #7126B5;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
  }
  
 .hero_login img {
	flex-shrink: 0;
	 min-width: 100vh;
	 min-height: 100vh;
  }
  
  .login_form {
	padding: 8% 10%;
	-ms-flex-preferred-size: 50vh;
		flex-basis: 50%;
	max-height: 100vh;
  }
  
  .input_{
	border-radius: 20px;
  }
  
  .login_form button {
	background-color: #7126B5;
	border: none;
  }
 
  .btn_signin{
	background-color: #7126B5;
	border-color: #7126B5;
	border-radius: 16px;
  }

  .login{
	text-decoration: none;;
	margin-left: 5px;
	color: var(--primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: capitalize;
  }

  @media only screen and (max-width: 768px) {
	.hero_login{
	display: none;
	}
	
	.login_form {
		padding: 8% 10%;
		-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		max-height: 100vh;
	  }
	
	}