.container_{

   margin-top: 2%;
}

.all{
   display: flex;
   flex-wrap: wrap;
   gap: 14px;
   margin-top: 3%;

}



@media only screen and (max-width: 768px) {
   .all{
      justify-content: center;
   }
}