.wrapper_card{
    width: 150px;
    height: 250px;
    border-color: #cccccc;
    border-radius: 6px;
}

.img_{
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.title{
    height: 30px;
    font-size: 17px;
}
.teks{
    height: 15px;
}
.harga{
    height: 15px;
}

