.wrapper_card{
    width: 150px;
    height: 250px;
    border-color: #cccccc;
    border-radius: 6px;
}

.img_{
    max-width: fit-content;
}


.teks{
    margin-top: -7px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 425px) {
    .wrapper_card{
        width: 40vw;
        height: 100%;
        border-color: #cccccc;
        border-radius: 6px;
    }

    .img_{
        width: 38vw;
        margin: 2px;
        height: fit-content;
    }
    
}