.wrapper_card{
    width: 150px;
    height: 250px;
    border-color: #cccccc;
    border-radius: 8px;
}

img{
    height: 50%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.labels{
    height: 50%;
    overflow: hidden;
    padding: 14px;
}
.title{
    font-size: 16px;
    height: 20%;
}

.teks{
    font-size: 12px;
    height: 12%;
    margin-bottom: -2%;
}
.harga{
    height: 10%;
}