.wrapper_card{
    border-color: #cccccc;
    border-radius: 6px;
}

.img_{
    padding: 10px;
    height: 200px;
    object-fit: cover;
    background-position: center;
    border-radius: 18px;
}


.teks{
    margin-top: -7px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 425px) {
    .wrapper_card{
        width: 20rem;
        border-color: #cccccc;
        border-radius: 6px;
    }
}
