.fill{
   height: 45vh;
}

.img_{
   width: 100%;
   height: fit-content;
   object-fit: cover;
   object-position: center;
   overflow: scroll;
}
@media only screen and (max-width: 455px) {
   .fill{
      height: 30vh;
  }

}