.header {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.search-bar {
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 12px;
    margin: 12px;
}

.icons-menu {
    width: 100%;
    font-size: 16px;
    height: 39px;
}

.icons-menu:hover{
    color: #7126B5;
}
.w35{
    width: 35%;
}
.icons-menu:hover{
    color: #7126B5;
}
.icons-menu::after{
    display: none !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.descriptionText{
    font-size: 12px;
}
.titleText{
    font-size: 14px;
}
.dropdownMenu{
    min-width: 24rem;
    border-radius: 20px;
}
