.card__modals__terima{
   background-color: #EEEEEE;
   border: none;
   border-radius: 16px;
}

.img__modals__profil{
   width: 48px;

}

.btn__send__wa{
   background-color: #7126B5;
   border-color: #7126B5;
   border-radius: 12px;
   height: 120%;
}

.text__modals__send{
   margin-top: -15px;
}

@media only screen and (max-width: 575px) {
   .text__modals__send{
      margin-top: -15px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      
   }
   .texts__modals__send{
      font-size: 14px;
      display: flex;
      justify-content: center;
   }
   .card__modals__terima{
      background-color: #FFFFFF;
      border: 2px solid;
      border-color: #e5e5e5;
      border-radius: 16px;
   }
   .img__modals__profil{
      display: flex;
      justify-content: center;
      width: 25%;
   }
 
}